.controls-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
    gap: 10px;
}

.label {
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    overflow-x: auto; /* Enable horizontal scroll */
}

th, td {
    padding: 12px 20px;
    text-align: left;
    border: 1px solid #ddd;
    vertical-align: middle;
}

th {
    background-color: #f4f4f9;
    color: #333;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e6e6e6;
}

td, th {
    padding-left: 15px;
    padding-right: 15px;
    min-width: 100px;
}

button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 5px;
    display: inline-block;
}

button:hover {
    background-color: rgb(58, 152, 215);
}


@media (max-width: 768px) {
    .controls-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        margin-right: 0;
    }

    table {
        display: block; 
        overflow-x: auto;
    }

    th, td {
        white-space: nowrap; 
        padding: 8px 12px;
    }
}
