.table-container {
    overflow-x: auto; /* Enables horizontal scrolling when needed */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for mobile devices */
    margin-top: 15px; /* Space above the table */
}

.controls-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
    gap: 10px;
}

.label {
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px; 
}

th, td {
    padding: 12px 20px;
    text-align: left;
    border: 1px solid rgb(255, 221, 174);
    vertical-align: middle;
}

th {
    background-color: rgb(212, 246, 255);
    color: #333;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: rgb(255, 221, 174);
}

tr:hover {
    background-color: #e6e6e6;
}

td, th {
    padding-left: 15px;
    padding-right: 15px;
    min-width: 100px;
}

button {
    background-color: rgb(255, 221, 174);
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 5px;
    display: inline-block;
}

button:hover {
    background-color: rgb(240, 203, 152);
    color: black;
}



